@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap");

$title-color: rgb(127, 0, 104);

.title {
  font-size: 80px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 10px 0;
  color: $title-color;
}

.subtitle {
  font-size: 30px;
  margin: 5px 0;
  color: $title-color;
  border-top: 1px dotted rgb(129, 129, 129);
}

body {
  background-color: rgb(255 230 251 / 52%);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.black-han sans-regular {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  margin: 100px 200px;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  background-color: #ffffff;
}

form {
  box-shadow: 0px 0px 10px 3px #80808030;
  background-color: #f5e2ff42;
  margin: 10px 0 10px;
  width: 450px;
}

.inputbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  & input {
    width: 300px;
    height: 30px;
    border-style: none;
    background: radial-gradient(circle, #edc9ff, #0000ff00);
    padding-left: 10px;
    &::placeholder {
      color: $title-color;
      font-weight: 500;
    }
    &:focus {
      outline: 2px solid rgb(247, 179, 244);
      border-radius: 10px;
    }
  }
}

.todolist {
  display: flex;
  width: 300px;
  margin: 0 auto;
  align-items: stretch; // 있어도 되고 없어도 됨
  flex-direction: column;
  .todo {
    background-color: #ffdffc;
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
  }
  .todo-upper {
    display: flex;
    & span {
      margin-left: 5px;
    }
  }
  & input[type="checkbox"] {
    width: 1.25em;
    height: 1.25em;
    vertical-align: middle;
    accent-color: rgb(174, 92, 212);
  }
}

.todo-lower {
  display: flex;
  justify-content: flex-end;
}

button {
  background-color: #ffffff;
  border: none;
  width: 70px;
  height: 30px;
  border-radius: 10px;
  text-align: center;
  margin: 0 5px;
}
